Flask==3.0.3
Flask-Cors==5.0.0
markdown==3.7
markdown-checklist==0.4.4
# TODO: As soon as the latest version is released at PyPI, replace the following line
https://github.com/qwertyquerty/pypresence/archive/master.zip